.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.my-table {
    >*:first-child {
	border: none !important;
    }
    tbody {
	tr {
	    td {
		background: none !important;
		border: none !important;

		&:first-child { 
		  width: calc(100% - 250px) !important;
		  vertical-align:top;	
		}
  	    }
	}
    }
}

#certifications .column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
#certifications .row:after {
  content: "";
  display: table;
  clear: both;
}