.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.my-table {
    >*:first-child {
	border: none;
    }
    tbody {
	tr {
	    td {
		background: none !important;
		border: none !important;

		&:first-child { 
		  width: calc(100% - 250px);
		  vertical-align:top  	
		}
  	    }
	}
    }
}

table:not(.rouge-table)